<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel='stylesheet' href='/stylesheets/login.css' />

<div id="pageWrap">
	<div id="title">
		<h2>Tvvitter</h2>
	</div>
	<div id="loginContainer">
		<form action="/login" method="post">
			<input type="text" name="username" placeholder="Username"/>
			<input type="password" name="password" placeholder="Password"/>
			<input type="submit" value="Submit"/>
		</form>
	</div>
		<a href="/auth/facebook">Login with Facebook</a>
</div>